Repository hmcts/civil-damages-camunda-bpmn-definition, pull requests merged in 2021-04, with the labels that each got.

#10 build: bump camunda to latest
  build.gradle
  ccd-definition/.gitignore
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/NotifyClaimDeadlineSchedulerTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-10

#9 feat: added camunda bpmn diagrams upload on aat and demo
  Jenkinsfile_CNP
  bin/variables/load-demo-environment-variables.sh
  charts/civil-damages-camunda/Chart.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-9

#18 feat: add camunda diagram for take case offline (CMC-663)
  src/main/resources/camunda/take_case_offline.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/TakeCaseOfflineTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-18

#11 feat: only deploy camunda diagram when changed (CMC-1443)
  bin/import-bpmn-diagram.sh
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-11

#20 build: removed nightly Jenkinsfile (CMC-1511)
  Jenkinsfile_nightly
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-20

#21 build: bumped ccd chart version
  charts/civil-damages-camunda/Chart.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-21

#30 fix: hardcoded xui image temporarily
  charts/civil-damages-camunda/values.aat.template.yaml
  charts/civil-damages-camunda/values.preview.template.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-30

#22 feat: Rename flow states
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-camunda-pr-22
